*{
    box-sizing: border-box;
}

body{
    
    background-image: url(bg.jpg);
    background-size: cover;
    height: 98vh;
    font-family: sans-serif;
    margin: auto;
    padding: 0%;
}

.container{
    text-align: center;
    margin-top: 200px;
    display: block;
}

#humanAge{
    padding: 8px;
    font-size: 15px;
    border: 1px lightgrey;
    background: floralwhite;
}


#dogAge{
    padding: 8px;
    font-size: 15px;
    border: 1px lightgrey;
    background: floralwhite;
}



#btn{
    font-size: 16px;
    padding: 10px 25px;
    cursor: pointer;
    background:#1b2e97;
    border-radius: 7px;
    color: white;
    border: none;
}

span{
    color: #03A9F4;
    background: yellow;
    padding: 6px;
}

h2{
    color: white;
    border: 3px solid black;
    padding: 12px;
    display: inline-table;
    margin-top: 60px;
    width: auto;
    line-height: 2;
}
